.Rproj.user
.Rhistory
.RData
/R/statistica con R/.ipynb_checkpoints
/R/esempi/.ipynb_checkpoints
*.pyc
/R/books/Time Series Analysis and Its Applications/notebooks/.ipynb_checkpoints
/py/data_analysis/data/test_db.sqlite
/py/data_analysis/data/weather_2012.sqlite
/01_Data_Science/03_Progetti/01_Document_Manager/pdf_1
/01_Data_Science/03_Progetti/01_Document_Manager/pdf_2
/01_Data_Science/03_Progetti/01_Document_Manager/txt_1
/01_Data_Science/03_Progetti/01_Document_Manager/txt_2
